<h1>Messages</h1>

{{#each messages}}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ title }}</h2>
      <p>{{ body }}</p>
    </div>

  </div>
{{/each}}
<div class="row">
  <div class="col-md-6">
    <form method="POST" action="/message">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="name">
      </div>      
      <div class="form-group">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="phone">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Message</label>
        <textarea name="body" rows="8" cols="40"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>